<% layout('layouts/boilerplate') %>


<!-- Resources Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Resources</h6>
            <h1 class="mb-5">Discover More About Our University</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5>Library</h5>
                <p class="mb-4">Explore our vast collection of books, journals, and digital resources available at our university library. From classic literature to cutting-edge research articles, there's something for every student and scholar.</p>
                <a href="#" class="btn btn-primary">Visit Library</a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <h5>Research Centers</h5>
                <p class="mb-4">Delve into our specialized research centers where groundbreaking discoveries are made every day. From sustainable energy to biomedical engineering, our centers foster innovation and collaboration.</p>
                <a href="#" class="btn btn-primary">Explore Centers</a>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <h5>Student Resources</h5>
                <p class="mb-4">Access essential resources and support services designed to enhance your student experience. From academic advising to career counseling, we're here to help you succeed.</p>
                <a href="#" class="btn btn-primary">View Resources</a>
            </div>
        </div>
    </div>
</div>
<!-- Resources End -->
